body{
    background-color:rgb(11, 74, 13);
    color:rgb(254, 254, 254);
    }
    
    h1{
    font-size: 80px;
    margin-left: 50px;
    }
    
    h2{
    font-style: oblique;
    margin-left: 50px;
    margin-top: 0.5px;
    }
    
    h3{
    margin-left: 50px;
    margin-top: 50px;
    
    }
    
    h4{
    border: 5px solid orange;
    border-radius: 20px;
    margin: 10px 5px;
    padding: 10px 5px;
    text-decoration: unset;
    background-color: orange;
    text-align: center;
    width: fit-content;
    font-size: medium;
    margin-left: 50px;
    margin-top: 60px;
    }
    
    img{
    
    max-width: 45%;
    margin-left: 740px;
    margin-top: -700px ;
    }